/* Basic Resets */

html {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input, textarea, select {
    -webkit-touch-callout: auto;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: normal;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* End Basic Resets */






/* Custom Fonts */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), url("/assets/fonts/OpenSans-300.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url("/assets/fonts/OpenSans-400.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), url("/assets/fonts/OpenSans-700.woff") format("woff");
}

/* End Custom Fonts */





/* Animations */

@-webkit-keyframes loading {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0;}
}

@-moz-keyframes loading {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0;}
}

@-ms-keyframes loading {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0;}
}

/* End Animations */




/* Site Styles */

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background-color: #dfba8c;
    background-image: url("/assets/images/wood.jpg");
}

.loading {
    text-align: center;
    font-weight: 700;
    -webkit-animation: loading 0.7s infinite;
    -moz-animation: loading 0.7s infinite;
    -ms-animation: loading 0.7s infinite;
    margin: 10px;
}

.logo {
    text-align: center;
    padding: 20px;
    cursor: default;
    color: #fff;
    background: #4d668a;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.logo-blocks-word {
    text-shadow: 0 0 20px #fff;
}

.menu {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#CCCCCC));
    background: -webkit-linear-gradient(top, #FFFFFF 0%,#CCCCCC 100%);
    background: -moz-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);
    background: linear-gradient(top, #FFFFFF 0%,#CCCCCC 100%);
    color: #000;
    text-align: center;
    box-shadow: 0 0 10px #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    text-rendering: optimizeLegibility;
}

.menu a,
.menu a:visited {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    display: inline-block;
    padding: 10px;
}

.menu > a.touchactive {
    background: rgba(0,0,0,0.25);
}

#main {
    min-height: 200px;
}

#blocks {
    margin: 0 auto;
}

.block {
    float: left;
    max-width: 100%;
    width: 275px;
    text-align: center;
    box-shadow: 0 0 5px #aaa, 0 0 10px #ddd inset;
    margin: 10px;
    padding: 10px;
    background: #fff;
    font-size: 14px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: #666;

}

.block > h1 {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 300;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.block-image-container {
    overflow: hidden;
    background-image: url("/assets/images/loading.gif");
    background-size: 32px auto;
    background-position: center top;
    background-repeat: no-repeat;
}

.block-image-container img {
    opacity: 0;
    width: 100%;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

img.loaded {
    opacity: 1;
}

/* Fill the available width if we can fit less than two columns */
@media (max-width: 630px) {
    body {
        margin: 0 0 60px 0;
    }

    .logo {
        box-shadow: 0 0 10px #000;
        padding: 10px;
    }

    .logo h1 {
        font-size: 24px;
    }

    #main {
        margin-top: 10px;
    }

    .menu {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }

    .menu a {
        font-size: 13px;
        padding: 16px 0 20px 0;
        width: 25%;
        white-space: nowrap;
        display: block;
        float: left;
        border-top: 4px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        margin-left: -1px;
        margin-right: -1px;
    }

    .menu a.current {
        border-top: 4px solid #4d668a;
        border-left: 1px solid #666;
        border-right: 1px solid #666;
        background: -webkit-linear-gradient(top, #AAAAAA 0%,#CCCCCC 100%);
    }

    #blocks {
        width: 90% !important;
        margin: 0 auto;
    }

    .block {
        width: 90% !important;
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
    }

    .block img {
        margin: 0 auto;
    }
}

/* Only enable animations if we can fit at least two columns */
@media (min-width: 630px) {
    .masonry,
    .masonry .masonry-brick {
        -webkit-transition-duration: 0.7s;
        -moz-transition-duration: 0.7s;
        -ms-transition-duration: 0.7s;
        -o-transition-duration: 0.7s;
        transition-duration: 0.7s;
    }

    .masonry {
        -webkit-transition-property: height, width;
        -moz-transition-property: height, width;
        -ms-transition-property: height, width;
        -o-transition-property: height, width;
        transition-property: height, width;
    }

    .masonry .masonry-brick {
        -webkit-transition-property: left, right, top;
        -moz-transition-property: left, right, top;
        -ms-transition-property: left, right, top;
        -o-transition-property: left, right, top;
        transition-property: left, right, top;
    }
}