/* Basic Resets */

html {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input, textarea, select {
    -webkit-touch-callout: auto;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: normal;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

a:active,
a:focus {
    outline: 0;
}

/* End Basic Resets */






/* Custom Fonts */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), url("/assets/fonts/OpenSans-300.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url("/assets/fonts/OpenSans-400.woff") format("woff");
}

/* End Custom Fonts */





/* Animations */

@-webkit-keyframes loading {
    0%   { -webkit-transform: scale(0); opacity: 1; }
    100% { -webkit-transform: scale(1); opacity: 0; }
}

@-moz-keyframes loading {
    0%   { -moz-transform: scale(0); opacity: 1; }
    100% { -moz-transform: scale(1); opacity: 0; }
}

@-ms-keyframes loading {
    0%   { -ms-transform: scale(0); opacity: 1; }
    100% { -ms-transform: scale(1); opacity: 0; }
}

/* End Animations */




/* Site Styles */

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background: #dfba8c;
}

.loading {
    height: 32px;
    width: 32px;
    margin: 0 auto;
}

.loading div {
    background: #4d668a;
    height: 100%;
    width: 100%;
    -webkit-animation: loading 0.75s infinite;
    -moz-animation: loading 0.75s infinite;
    -ms-animation: loading 0.75s infinite;
}

.logo {
    text-align: center;
    padding: 20px;
    cursor: default;
    color: #fff;
    background: #4d668a;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.logo .icon {
    border: 2px solid #fff;
    background: #4d668a;
    padding: 1px;
    height: 29px;
    width: 29px;
    display: inline-block;
    vertical-align: text-bottom;
}

.logo .icon div:nth-child(1) {
    float: left;
    background: #fff;
    height: 29px;
    width: 14px;
    margin-right: 1px;
}

.logo .icon div:nth-child(2) {
    float: left;
    background: #fff;
    height: 15px;
    width: 14px;
}

.logo h1 {
    font-weight: 300;
    text-rendering: optimizeLegibility;
    display: inline-block;
}

.logo-blocks-word {

}

.menu {
    background: #dfdfdf;
    color: #000;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.menu a,
.menu a:visited {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;
    display: inline-block;
    padding: 10px;
    outline: 0;
}

.menu a.touchactive {
    background: #eee;
}

.menu a.current {
    background: #dfba8c;
}

#main {
    min-height: 200px;
}

#blocks {
    margin: 0 auto;
}

.block {
    float: left;
    max-width: 100%;
    width: 275px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background: #fff;
    font-size: 14px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: #666;
}

.block > h1 {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 300;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}

.block-image-container {
    overflow: hidden;
}

.block-image-container img {
    opacity: 0;
    width: 100%;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

img.loaded {
    opacity: 1;
}

img.loaded + .loading {
    display: none;
}

/* Styles where we can fit less than two columns of blocks */
@media (max-width: 630px) {
    body {
        margin: 0 0 60px 0;
    }

    .logo {
        padding: 10px;
    }

    .logo h1 {
        font-size: 24px;
    }

    #main {
        margin-top: 10px;
    }

    .menu {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }

    .menu a {
        font-size: 13px;
        width: 25%;
        white-space: nowrap;
        display: block;
        float: left;
        padding: 20px 0 20px 0;
        font-weight: 400;
    }

    #blocks {
        width: 90% !important;
        margin: 0 auto;
    }

    .block {
        width: 90% !important;
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
    }

    .block img {
        margin: 0 auto;
    }
}