:root {
    --dark: #000;
    --light: #efefef;
    --attention: rgba(0, 188, 212, 1);

    --headerHeight: 60px;

    --primary: var(--dark);
    --background: var(--light);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: var(--light);
        --background: var(--dark);
    }
}

html,
body {
    display: grid;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--background);
    font-family: Verdana, sans-serif;
    font-weight: 400;
    color: var(--primary);
    font-size: 10px;
    word-break: break-word;
}

ol,
ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#app,
#app > div {
    height: 100%;
    display: grid;
    overflow: hidden;
}

.subreddit {
    grid-template-rows: var(--headerHeight) calc(100% - var(--headerHeight));
}

.subreddit > header {
    display: grid;
    font-size: 16px;
    grid-template-columns: 200px 1fr;
    align-items: center;
    padding: 10px;
}

.subreddit > header > div {
    max-height: 100%;
    overflow: hidden;
}

.subreddit > section {
    display: grid;
    grid-template-columns: 200px 1fr 225px;
}

a,
a:visited,
a:active,
a:focus {
    color: var(--primary);
    outline: none;
    text-decoration: none;
}

main {
    display: grid;
    overflow: hidden;
}

.subreddit nav {
    display: grid;
    grid-gap: 15px;
    padding: 15px;
    overflow: auto;
}

.subreddit aside {
    display: grid;
    font-size: 12px;
    overflow: auto;
}

.comment {
    padding-bottom: 10px;
    margin: 10px;
    border-bottom: 1px solid var(--primary);
    word-break: break-word;
}

.comment > header {
    font-weight: bold;
}

.comment a {
    display: block;
}

.comment a:hover {
    text-decoration: underline;
}

.thumbnail {
    display: grid;
    grid-gap: 5px;
    align-items: center;
    border: 1px solid transparent;
    opacity: 0.5;
    transform: scale(1);
    word-break: break-word;
}

.thumbnail > img {
    width: 100%;
    height: 75px;
    border: 2px solid transparent;
    border-radius: 5px;
    object-fit: cover;
    transition: 100ms border ease-out;
}

.thumbnail > img.original,
.thumbnail > img.blur {
    position: absolute;
    top: 0;
}

.thumbnail > img.blur {
    opacity: 0;
    transition: 100ms opacity ease-out;
}

.thumbnail.active > img.blur,
.thumbnail:active > img.blur {
    opacity: 1;
    filter: blur(10px);
}

.thumbnail > caption {
    display: grid;
    grid-gap: 2px;
    text-align: left;
}

.thumbnail:hover,
.thumbnail.active {
    opacity: 1;
}

.thumbnail:active > img.original,
.thumbnail.active > img.original {
    border-color: var(--background);
}

.hidden {
    visibility: none !important;
    height: 0 !important;
    width: 0 !important;
    overflow: hidden;
    pointer-events: none;
}

.player {
    background: #000;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.loading {
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: default;
    user-select: none;
}

.loading {
    display: grid;
    align-items: center;
    justify-content: center;
}

.loading > img {
    width: 100px;
}

img.spacer {
    visibility: hidden;
    pointer-events: none;
}

.subredditFilter {
    text-transform: uppercase;
    cursor: default;
    user-select: none;
}
