:root {
    --dark: #000;
    --light: #efefef;
    --attention: rgba(0, 188, 212, 1);

    --headerHeight: 75px;

    --primary: var(--dark);
    --background: var(--light);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #efefef;
        --background: #000;
    }
}

html,
body {
    display: grid;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--background);
    font-family: Verdana, sans-serif;
    font-weight: 400;
    color: var(--primary);
    font-size: 10px;
}

ol,
ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
    display: grid;
    grid-template-rows: var(--headerHeight) calc(100% - var(--headerHeight));
    overflow: hidden;
}

section.subreddit {
    display: grid;
    grid-template-columns: 175px 1fr 200px;
}

a,
a:visited,
a:active,
a:focus {
    color: var(--primary);
    outline: none;
    text-decoration: none;
}

main {
    display: grid;
    overflow: hidden;
}

nav {
    display: grid;
    grid-gap: 15px;
    padding: 15px;
    overflow: auto;
}

.thumbnail {
    display: grid;
    grid-gap: 5px;
    align-items: center;
    border: 1px solid transparent;
    opacity: 0.5;
    transform: scale(1);
}

.thumbnail > img {
    width: 100%;
    height: var(--headerHeight);
    border: 2px solid transparent;
    border-radius: 5px;
    object-fit: cover;
    transition: 100ms border ease-out;
}

.thumbnail > img.original,
.thumbnail > img.blur {
    position: absolute;
    top: 0;
}

.thumbnail > img.blur {
    opacity: 0;
    transition: 100ms opacity ease-out;
}

.thumbnail.active > img.blur,
.thumbnail:active > img.blur {
    opacity: 1;
    filter: blur(10px);
}

.thumbnail > caption {
    display: grid;
    grid-gap: 2px;
    text-align: left;
}

.thumbnail:hover,
.thumbnail.active {
    opacity: 1;
}

.thumbnail:active > img.original,
.thumbnail.active > img.original {
    border-color: var(--background);
}

.hidden {
    visibility: none !important;
    height: 0 !important;
    width: 0 !important;
    overflow: hidden;
    pointer-events: none;
}

.player {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

img.spacer {
    visibility: hidden;
    pointer-events: none;
}

.scoreContainer {
    text-align: center;
}
