<div id="products">
    {{#each blocks}}
        <a class="product" href="{{link}}">
            <div class="product-image">
                <img class="not-loaded" src="{{image}}">
            </div>
            <h1>{{title}}</h1>
        </a>
    {{/each}}
</div>