<div id="catalog">
    <strong>Note:</strong> This catalog does not include our closeout items. To view our closeout items <a href="#/products">click here</a>. To order any of the products listed below. Please <a href="#/contactus">contact us</a> in order to ensure the best possible price!
    </p>
    <iframe src="http://www.distributorcentral.com/websites/SuperCheapPromos/catalog.cfm?strip=1&CatalogGUID=18f2680e-6d0f-4d9f-be23-a5777cd3112d&StartLevel=2" width="90%" height="850" frameborder="0"></iframe>
</div>