<div id="faqs">
    <ul>
        <li>
            How does your pricing work?
        </li>

        <li>
            Where do you ship from?
        </li>

        <li>
            What is the lead time?
        </li>

        <li>
            How are your prices so low?
        </li>

        <li>
            Can I get a sample before I order?
        </li>

        <li>
            Can you just mail (USPS) me a free sample?
        </li>

        <li>
            What if I don't have a UPS or FedEx shipper number?
        </li>

        <li>
            How much does it cost to add my company logo and/or company info to your products?
        </li>

        <li>
            What format does my artwork need to be in?
        </li>

        <li>
            Where do I send my artwork?
        </li>

        <li>
            How much does it cost for extra colors or locations?
        </li>

        <li>
            Is RUSH production available?
        </li>

        <li>
            How do I pay?
        </li>

        <li>
            Do you offer price matching?
        </li>

        <li>
            I noticed a product on your website last week, but now it is no longer listed!
        </li>

        <li>
            I noticed a product on your website last week, but now it is listed for a higher price!
        </li>

        <li>
            How frequently do you send DiscountAlerts&trade?
        </li>
    </ul>
</div>