<a class="block" href="{{link}}" title="{{title}}">
    <div class="block-image-container">
        <img src="{{image}}">
        <div class="loading"><div></div></div>
    </div>
    <h1>{{title}}</h1>
</a>